*.sh
*settings_local*
*.swp
*.swo
*.pyc
db.sqlite3
**/venv
**/.DS_Store
venv/*
static/bin/
static/Builds/
static/music
static/analytics
venv-numberbomber/
push.sh
*.DS_Store
static/admin/
test1
open-ai-key.txt

